*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
  height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

html{
  width: 100%;
  font-size: 62.5%;
}

.banner{
    background-color: rgb(86, 86, 86);
    text-align: center;
}

.banner-text-container {
  height: 42px;
}

.banner-text{
    color: white;
    margin: 8px 9.6px;
    padding: 3.2px;
    border: 1px solid rgb(191, 210, 43);
    font-size: 12.5px;
    display: inline-block;
    width: 100%;
}

.ancla{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.menu-secondary{
  display: flex;
  width: 100%;
  height: 48px;
  padding: 5.6px 125px;
  background-color: #ececec;
}

.social-container {
  width: 240px;
}

.social__item {
  width: 20px;
  background-color: #333333;
  display: inline-block;
  border-radius: 50%;
}

.menu-secondary__social{
    justify-content: left;
}

.social-f{
    width: 16px; 
    height: 16px;
    text-align: center;
}

.menu-secondary__navigation{
    list-style: none;
    justify-content: center;
    padding: 0px 0.5rem;
    margin: 0px;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 100px;
    margin-inline-end:100px;
    padding-inline-start: 100px;
    padding-inline-end: 100px;
}

.elements_list-cinemark{
    margin: 0px 1rem;
    padding: 0.5rem;
    list-style: none;
    font-size: 11px;
    transition: all 0.3s ease 0s;
    user-select: none;
    cursor: pointer;
    display: flex;
}

.menu-secondary-register{
    margin-left: auto;
    justify-content: flex-end;
}

.elements-register-cm{
    font-size: 14px;
}